{% extends 'Inicio/plantMain.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'Inicio/css/estilo-grafica.css' %}">
{% endblock css %}
{% block imagen %}
<div class="img-hd">
    <div class="txt-hd">
        <p class="lh-lg">Graficas</p>
    </div>
</div>
{% endblock imagen %}
{% block contenido %}
<section class="items">
    <div class="container">
        <div class="row items no-gutter">
            {% for c in grafica %}
            <div class="col-xl-3 col-md-6 col-sm-12">
              <a href="{% url 'grafica' idg=c.idproducto usuario=usuario.username %}">
                <img src="/media/{{ c.imagenprod }}" alt="Imagen de gráfica" class="img-fluid" id="img2">
                <p class="text-break">{{ c.nombreproducto }}</p>
                <h6>$ {{ c.precioproducto }}</h6>
              </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<div class="container text-center my-4">
    <a href="{% url 'index' usuario.username %}" class="btn btn-primary">Volver al Inicio</a>
</div>
{% endblock contenido %}
