{% extends 'Inicio/plantMain.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'Inicio/css/estilo-proce.css' %}">
{% endblock css %}

{% block imagen %}
<div class="img-hd">
    <div class="txt-hd">
        <p class="lh-lg">Procesadores</p>
    </div>
</div>
{% endblock imagen %}

{% block contenido %}
<section class="items">
    <div class="container">
        <div class="row items no-gutter">
            {% for c in procesador %}
            <div class="col-xl-3 col-md-6 col-sm-12">
                <a href="{% url 'procesador' idp=c.idProducto usuario=usuario.username %}">
                    <img src="{{c.imagenProd.url}}" alt="Error :D" id="img2" class="img-fluid">
                    <p class="text-break">{{c.nombreProducto}}</p>
                    <h6>$ {{c.precioProducto}}</h6>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock contenido %}

{% block extra_footer %}
<footer class="pie-pagina mt-auto">
    <div class="container">
        <div class="grupo-1 text-center">
            <div class="row">
                <div class="col-6">
                    <div class="box">
                        <h2>Sobre nosotros</h2>
                        <ul class="lista">
                            <li>13 finos</li>
                            <li>Robamos terrible maldito y de menor</li>
                        </ul>
                    </div>
                </div>
                <div class="col-6">
                    <div class="box">
                        <h2>Síguenos en nuestras redes</h2>
                        <div class="red-social">
                            <a href="#" class="fa fa-facebook redes-sociales"></a>
                            <a href="#" class="fa fa-instagram redes-sociales"></a>
                            <a href="#" class="fa fa-twitter redes-sociales"></a>
                            <a href="#" class="fa fa-youtube redes-sociales"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2022 <b>HSC Componentes</b> - Todos los Derechos Reservados.</small>
    </div>
</footer>
{% endblock extra_footer %}